<div class="mealplan" ng-controller='MealPlanController'>


  <!--User Info and Introduction-->
  <div class="row">
    <div class="medium-6 columns">
      <h1>USERNAME's Mealplan</h1>
    </div>
    <div class="medium-6 columns center">
      <h1 hidden>USERNAME's Mealplan</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns center">
      <div class="panel wrap">
      <p>Welcome to your GrubBudge Mealplan Page!</p>
    </div>
  </div>
  </div>
  <div class="line-break-white-full"></div>

  <!--Sort Dropdown-->
  <div class="row">
    <div class="medium-10 columns" >
    </div>
    <div class="medium-2 columns">
       <select class="bottom">
          <option value="volvo">Sort By</option>
          <option value="saab">Cheapest</option>
          <option value="opel">Most Expensive</option>
          <option value="opel">Date - Earliest</option>
          <option value="opel">Date - Latest</option>
          <option value="opel">Name - Ascending</option>
          <option value="opel">Name - Descending</option>
        </select>
    </div>
  </div>

  <!--Modal that pops up to change mealplan name-->
  <div id="myModalName" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
       <h3 id="modalTitle">Change Mealplan Name</h3>
       <input placeholder="mealz" type="text">
            <a href="#" class="button round modal-button">Update</a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>


      <!--Mealplan Item-->
  <div class="list-item"> 
    <!--Mealplan Name, Date, and Total Cost-->
    <div class="row">
      <div class="small-12 columns center">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Click to change MealPlan name"><a data-reveal-id="myModalName"><h1><u>Friday Funday</u></h1></a></span>
        <h3><i> May 5th - $28</i></h3>
      </div>
    </div>
    <!--The Display that shows meal-times on large screens-->
    <div class="meal-times hide-for-small-only">
    <div class="row">
      <div class="medium-3 small-0 columns center">
        <h6>Breakfast</h6>
      </div>
      <div class="medium-3 small-4 columns center">
        <h6>Lunch</h6>
      </div>
      <div class="medium-3 small-4 columns center">
        <h6>Dinner</h6>
      </div>
      <div class="medium-3 small-4 columns center">
        <h6>Late</h6>
      </div>
    </div>
  </div>
    <!--The Four Meals-->
    <div class="row">
      <!--Breakfast-->
      <div class="medium-3 columns meal center">
          <!--An Example of a display where the meal has yet to be planned-->
        <div class="no-meal-item"> 
        <div class="show-for-small-only time-center">
            <h6>Breakfast</h6>
          </div>
          <!--Button should go back to list with the date attribute tied so the meal gets added to the correct plan-->
          <div onclick="location.href='#/list'" class="button success round add-meal">Add Meal!</div> 
      </div>
    </div>
      <!--Lunch-->
      <div class="medium-3 columns meal center">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Remove Meal"><a href="#" class="button tiny alert">X</a></span>
        <div class="meal-item">
          <div class="show-for-small-only time">
            <h6 class="trans">Lunch</h6>
          </div>
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
          <h5 class="restaurant-title">Destihl Restaurant & Brew Works</h5>
        </div>
      </div>
      <!--Dinner-->
      <div class="medium-3 columns meal">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Remove Meal"><a href="#" class="button tiny alert">X</a></span>
        <div class="meal-item">
          <div class="show-for-small-only time">
            <h6 class="trans">Dinner</h6>
          </div>
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
          <h5 class="restaurant-title">Destihl Restaurant & Brew Works</h5>
        </div>
      </div>
      <!--Late Night-->
      <div class="medium-3 columns meal">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Remove Meal"><a href="#" class="button tiny alert">X</a></span>
        <div class="meal-item">
          <div class="show-for-small-only time">
            <h6 class="trans">Late</h6>
          </div>
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
          <h5 class="restaurant-title">Destihl Restaurant & Brew Works</h5>
        </div>
      </div>
    </div>
    <div class="line-break-white"></div>
  </div>

  <!--Mealplan Item-->
  <div class="list-item"> 
    <!--Mealplan Name, Date, and Total Cost-->
    <div class="row">
        <script>
              $(document).ready(function() {
            $(document).foundation();
          });
              $("div").click(function(){
           window.location=$(this).find("a").attr("href"); return false;
        });
        </script>
  </div>

    <!--The Four Meals
    <div class="row">
      <!--Breakfast
      <div class="medium-3 columns meal center">
          <!--An Example of a display where the meal has yet to be planned
        <div class="no-meal-item"> 
        <div class="show-for-small-only time-center">
            <h6>Breakfast</h6>
          </div>
          <!--Button should go back to list with the date attribute tied so the meal gets added to the correct plan
          <div href="#/list" class="button success round add-meal">BudgeMore!</div> 
      </div>
    </div>
      <!--Lunch
      <div class="medium-3 columns meal center">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Remove Meal"><a href="#" class="button tiny alert">X</a></span>
        <div class="meal-item">
          <div class="show-for-small-only time">
            <h6 class="trans">Lunch</h6>
          </div>
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
          <h5 class="restaurant-title">Destihl Restaurant & Brew Works</h5>
        </div>
      </div>
      <!--Dinner
      <div class="medium-3 columns meal">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Remove Meal"><a href="#" class="button tiny alert">X</a></span>
        <div class="meal-item">
          <div class="show-for-small-only time">
            <h6 class="trans">Dinner</h6>
          </div>
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
          <h5 class="restaurant-title">Destihl Restaurant & Brew Works</h5>
        </div>
      </div>
      <!--Late Night
      <div class="medium-3 columns meal">
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Remove Meal"><a href="#" class="button tiny alert">X</a></span>
        <div class="meal-item">
          <div class="show-for-small-only time">
            <h6 class="trans">Late</h6>
          </div>
          <img src="http://s3-media4.fl.yelpassets.com/bphoto/BgeodAJHPKiH3wKk8n4LKw/o.jpg" alt="img not found">
          <h5 class="restaurant-title">Destihl Restaurant & Brew Works</h5>
        </div>
      </div>
    </div>
    <div class="line-break-white"></div>
  </div>-->